openapi: 3.0.3
info:
  title: ImageKit Account Management API Dummy Test API
  version: 1.0.0
  description: Checkout [API overview](/docs/api-overview) to learn about ImageKit's APIs, authentication, rate limits, and error codes etc.
  contact:
    email: developer@imagekit.io
    name: ImageKit Team
    url: https://imagekit.io
  termsOfService: https://imagekit.io/terms/
servers:
- url: https://api.imagekit.io
security:
- basicAuth: []
tags:
- name: Dummy Test
paths:
  /v1/dummy/test:
    post:
      summary: Dummy test endpoint using all shared models
      operationId: create-dummy-test
      description: 'Internal test endpoint for SDK generation purposes only. This endpoint demonstrates usage of all shared models defined in the Stainless configuration and is not intended for public consumption.

        '
      tags:
      - Dummy Test
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                extensions:
                  $ref: '#/components/schemas/Extensions'
                savedExtensions:
                  $ref: '#/components/schemas/SavedExtension'
                extensionConfig:
                  $ref: '#/components/schemas/ExtensionConfig'
                srcOptions:
                  $ref: '#/components/schemas/SrcOptions'
                getImageAttributesOptions:
                  $ref: '#/components/schemas/GetImageAttributesOptions'
                responsiveImageAttributes:
                  $ref: '#/components/schemas/ResponsiveImageAttributes'
                transformation:
                  $ref: '#/components/schemas/Transformation'
                transformationPosition:
                  $ref: '#/components/schemas/TransformationPosition'
                streamingResolution:
                  $ref: '#/components/schemas/StreamingResolution'
                overlay:
                  $ref: '#/components/schemas/Overlay'
                baseOverlay:
                  $ref: '#/components/schemas/BaseOverlay'
                overlayPosition:
                  $ref: '#/components/schemas/OverlayPosition'
                overlayTiming:
                  $ref: '#/components/schemas/OverlayTiming'
                textOverlay:
                  $ref: '#/components/schemas/TextOverlay'
                imageOverlay:
                  $ref: '#/components/schemas/ImageOverlay'
                videoOverlay:
                  $ref: '#/components/schemas/VideoOverlay'
                subtitleOverlay:
                  $ref: '#/components/schemas/SubtitleOverlay'
                solidColorOverlay:
                  $ref: '#/components/schemas/SolidColorOverlay'
                textOverlayTransformation:
                  $ref: '#/components/schemas/TextOverlayTransformation'
                subtitleOverlayTransformation:
                  $ref: '#/components/schemas/SubtitleOverlayTransformation'
                solidColorOverlayTransformation:
                  $ref: '#/components/schemas/SolidColorOverlayTransformation'
      responses:
        '204':
          description: No content - Request processed successfully with empty response
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid input data
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  schemas:
    RemovedotBGExtension:
      title: Remove background
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Specifies the background removal extension.
          enum:
          - remove-bg
        options:
          type: object
          properties:
            add_shadow:
              type: boolean
              description: 'Whether to add an artificial shadow to the result. Default is false. Note: Adding shadows is currently only supported for car photos.

                '
              default: false
            semitransparency:
              type: boolean
              description: 'Allows semi-transparent regions in the result. Default is true. Note: Semitransparency is currently only supported for car windows.

                '
              default: true
            bg_color:
              type: string
              description: 'Specifies a solid color background using hex code (e.g., "81d4fa", "fff") or color name (e.g., "green"). If this parameter is set, `bg_image_url` must be empty.

                '
            bg_image_url:
              type: string
              description: 'Sets a background image from a URL. If this parameter is set, `bg_color` must be empty.

                '
    SavedExtension:
      title: Saved Extension
      description: Saved extension object containing extension configuration.
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the saved extension.
          example: ext_abc123
        name:
          type: string
          description: Name of the saved extension.
          example: Car Quality Analysis
        description:
          type: string
          description: Description of the saved extension.
          example: Analyzes vehicle images for type, condition, and quality assessment
        config:
          $ref: '#/components/schemas/ExtensionConfig'
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the saved extension was created.
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the saved extension was last updated.
    SolidColorOverlay:
      allOf:
      - $ref: '#/components/schemas/BaseOverlay'
      - type: object
        required:
        - type
        - color
        properties:
          type:
            type: string
            enum:
            - solidColor
          color:
            type: string
            description: 'Specifies the color of the block using an RGB hex code (e.g., `FF0000`), an RGBA code (e.g., `FFAABB50`), or a color name (e.g., `red`).

              If an 8-character value is provided, the last two characters represent the opacity level (from `00` for 0.00 to `99` for 0.99).

              '
          transformation:
            type: array
            items:
              $ref: '#/components/schemas/SolidColorOverlayTransformation'
            description: 'Control width and height of the solid color overlay. Supported transformations depend on the base/parent asset.

              See overlays on [Images](https://imagekit.io/docs/add-overlays-on-images#apply-transformation-on-solid-color-overlay) and [Videos](https://imagekit.io/docs/add-overlays-on-videos#apply-transformations-on-solid-color-block-overlay).

              '
        additionalProperties: false
    SavedExtensionReference:
      title: Saved Extension Reference
      type: object
      required:
      - name
      - id
      properties:
        name:
          type: string
          description: Indicates this is a reference to a saved extension.
          enum:
          - saved-extension
        id:
          type: string
          description: The unique ID of the saved extension to apply.
          example: ext_abc123
    SubtitleOverlayTransformation:
      type: object
      description: Subtitle styling options. [Learn more](https://imagekit.io/docs/add-overlays-on-videos#styling-controls-for-subtitles-layer) from the docs.
      properties:
        background:
          type: string
          description: 'Specifies the subtitle background color using a standard color name, an RGB color code (e.g., FF0000), or an RGBA color code (e.g., FFAABB50).


            [Subtitle styling options](https://imagekit.io/docs/add-overlays-on-videos#styling-controls-for-subtitles-layer)

            '
        fontSize:
          type: number
          description: 'Sets the font size of subtitle text.


            [Subtitle styling options](https://imagekit.io/docs/add-overlays-on-videos#styling-controls-for-subtitles-layer)

            '
        fontFamily:
          type: string
          description: 'Sets the font family of subtitle text.

            Refer to the [supported fonts documented](https://imagekit.io/docs/add-overlays-on-images#supported-text-font-list) in the ImageKit transformations guide.

            '
        color:
          type: string
          description: 'Sets the font color of the subtitle text using a standard color name, an RGB color code (e.g., FF0000), or an RGBA color code (e.g., FFAABB50).


            [Subtitle styling options](https://imagekit.io/docs/add-overlays-on-videos#styling-controls-for-subtitles-layer)

            '
        typography:
          type: string
          enum:
          - b
          - i
          - b_i
          description: 'Sets the typography style of the subtitle text. Supports values are `b` for bold, `i` for italics, and `b_i` for bold with italics.


            [Subtitle styling options](https://imagekit.io/docs/add-overlays-on-videos#styling-controls-for-subtitles-layer)

            '
        fontOutline:
          type: string
          description: "Sets the font outline of the subtitle text. \nRequires the outline width (an integer) and the outline color (as an RGB color code, RGBA color code, or standard web color name) separated by an underscore. \nExample: `fol-2_blue` (outline width of 2px and outline color blue), `fol-2_A1CCDD` (outline width of 2px and outline color `#A1CCDD`) and `fol-2_A1CCDD50` (outline width of 2px and outline color `#A1CCDD` at 50% opacity).\n\n[Subtitle styling options](https://imagekit.io/docs/add-overlays-on-videos#styling-controls-for-subtitles-layer)\n"
        fontShadow:
          type: string
          description: "Sets the font shadow for the subtitle text. \nRequires the shadow color (as an RGB color code, RGBA color code, or standard web color name) and shadow indent (an integer) separated by an underscore. \nExample: `fsh-blue_2` (shadow color blue, indent of 2px), `fsh-A1CCDD_3` (shadow color `#A1CCDD`, indent of 3px), `fsh-A1CCDD50_3` (shadow color `#A1CCDD` at 50% opacity, indent of 3px).\n\n[Subtitle styling options](https://imagekit.io/docs/add-overlays-on-videos#styling-controls-for-subtitles-layer)\n"
      additionalProperties: false
    SrcOptions:
      title: Source Options
      description: Options for generating ImageKit URLs with transformations. See the [Transformations guide](https://imagekit.io/docs/transformations).
      type: object
      required:
      - src
      - urlEndpoint
      properties:
        src:
          type: string
          description: "Accepts a relative or absolute path of the resource. If a relative path is provided, it is appended to the `urlEndpoint`. \nIf an absolute path is provided, `urlEndpoint` is ignored.\n"
          example: /my-image.jpg
        urlEndpoint:
          type: string
          format: uri
          description: 'Get your urlEndpoint from the [ImageKit dashboard](https://imagekit.io/dashboard/url-endpoints).

            '
          example: https://ik.imagekit.io/demo
        transformation:
          type: array
          items:
            $ref: '#/components/schemas/Transformation'
          description: 'An array of objects specifying the transformations to be applied in the URL. If more than one transformation is specified, they are applied in the order they are specified as chained transformations.

            See [Chained transformations](https://imagekit.io/docs/transformations#chained-transformations).

            '
        queryParameters:
          type: object
          additionalProperties:
            type: string
          description: 'These are additional query parameters that you want to add to the final URL.

            They can be any query parameters and not necessarily related to ImageKit.

            This is especially useful if you want to add a versioning parameter to your URLs.

            '
        transformationPosition:
          $ref: '#/components/schemas/TransformationPosition'
        signed:
          type: boolean
          default: false
          description: "Whether to sign the URL or not. Set this to `true` if you want to generate a signed URL. \nIf `signed` is `true` and `expiresIn` is not specified, the signed URL will not expire (valid indefinitely).\nNote: If `expiresIn` is set to any value above 0, the URL will always be signed regardless of this setting.\n[Learn more](https://imagekit.io/docs/media-delivery-basic-security#how-to-generate-signed-urls).\n"
        expiresIn:
          type: number
          description: "When you want the signed URL to expire, specified in seconds. If `expiresIn` is anything above 0, \nthe URL will always be signed even if `signed` is set to false. If not specified and `signed` is `true`,\nthe signed URL will not expire (valid indefinitely).\n\nExample: Setting `expiresIn: 3600` will make the URL expire 1 hour from generation time. After the expiry time, the signed URL will no longer be valid and ImageKit will return \na 401 Unauthorized status code.\n\n[Learn more](https://imagekit.io/docs/media-delivery-basic-security#how-to-generate-signed-urls).\n"
      additionalProperties: false
    TransformationPosition:
      type: string
      enum:
      - path
      - query
      description: "By default, the transformation string is added as a query parameter in the URL, e.g., `?tr=w-100,h-100`. \nIf you want to add the transformation string in the path of the URL, set this to `path`.\nLearn more in the [Transformations guide](https://imagekit.io/docs/transformations).\n"
    SolidColorOverlayTransformation:
      type: object
      properties:
        width:
          oneOf:
          - type: number
          - type: string
          description: 'Controls the width of the solid color overlay. Accepts a numeric value or an arithmetic expression (e.g., `bw_mul_0.2` or `bh_div_2`).

            Learn about [arithmetic expressions](https://imagekit.io/docs/arithmetic-expressions-in-transformations).

            '
        height:
          oneOf:
          - type: number
          - type: string
          description: 'Controls the height of the solid color overlay. Accepts a numeric value or an arithmetic expression.

            Learn about [arithmetic expressions](https://imagekit.io/docs/arithmetic-expressions-in-transformations).

            '
        radius:
          anyOf:
          - type: number
          - enum:
            - max
          - type: string
          description: 'Specifies the corner radius of the solid color overlay.

            - Single value (positive integer): Applied to all corners (e.g., `20`).

            - `max`: Creates a circular or oval shape.

            - Per-corner array: Provide four underscore-separated values representing top-left, top-right, bottom-right, and bottom-left corners respectively (e.g., `10_20_30_40`).

            See [Radius](https://imagekit.io/docs/effects-and-enhancements#radius---r).

            '
        alpha:
          type: number
          minimum: 1
          maximum: 9
          description: Specifies the transparency level of the overlaid solid color layer. Supports integers from `1` to `9`.
        background:
          type: string
          description: 'Specifies the background color of the solid color overlay. Accepts an RGB hex code (e.g., `FF0000`), an RGBA code (e.g., `FFAABB50`), or a color name.

            '
        gradient:
          oneOf:
          - enum:
            - true
          - type: string
          description: 'Creates a linear gradient with two colors. Pass `true` for a default gradient, or provide a string for a custom gradient.

            Only works if the base asset is an image. See [gradient](https://imagekit.io/docs/effects-and-enhancements#gradient---e-gradient).

            '
      additionalProperties: false
    AITaskYesNo:
      title: AI Task - Yes/No
      type: object
      required:
      - type
      - instruction
      properties:
        type:
          type: string
          description: Task type that asks a yes/no question and executes actions based on the answer.
          enum:
          - yes_no
        instruction:
          type: string
          minLength: 1
          maxLength: 2000
          description: The yes/no question for the AI to answer about the image.
          example: Is this a luxury or high-end fashion item?
        on_yes:
          $ref: '#/components/schemas/AITaskAction'
          description: Actions to execute if the AI answers yes.
        on_no:
          $ref: '#/components/schemas/AITaskAction'
          description: Actions to execute if the AI answers no.
        on_unknown:
          $ref: '#/components/schemas/AITaskAction'
          description: Actions to execute if the AI cannot determine the answer.
    Transformation:
      title: Transformation
      description: "The SDK provides easy-to-use names for transformations. These names are converted to the corresponding transformation string before being added to the URL.\nSDKs are updated regularly to support new transformations. If you want to use a transformation that is not supported by the SDK, \nYou can use the `raw` parameter to pass the transformation string directly.\nSee the [Transformations documentation](https://imagekit.io/docs/transformations).\n"
      type: object
      properties:
        width:
          oneOf:
          - type: number
          - type: string
          description: "Specifies the width of the output. If a value between 0 and 1 is provided, it is treated as a percentage (e.g., `0.4` represents 40% of the original width). \nYou can also supply arithmetic expressions (e.g., `iw_div_2`).\nWidth transformation – [Images](https://imagekit.io/docs/image-resize-and-crop#width---w) · [Videos](https://imagekit.io/docs/video-resize-and-crop#width---w)\n"
          example: 300
        height:
          oneOf:
          - type: number
          - type: string
          description: "Specifies the height of the output. If a value between 0 and 1 is provided, it is treated as a percentage (e.g., `0.5` represents 50% of the original height). \nYou can also supply arithmetic expressions (e.g., `ih_mul_0.5`).\nHeight transformation – [Images](https://imagekit.io/docs/image-resize-and-crop#height---h) · [Videos](https://imagekit.io/docs/video-resize-and-crop#height---h)\n"
          example: 200
        aspectRatio:
          oneOf:
          - type: number
          - type: string
          description: "Specifies the aspect ratio for the output, e.g., \"ar-4-3\". Typically used with either width or height (but not both). \nFor example: aspectRatio = `4:3`, `4_3`, or an expression like `iar_div_2`.\nSee [Image resize and crop – Aspect ratio](https://imagekit.io/docs/image-resize-and-crop#aspect-ratio---ar).\n"
          example: '4:3'
        background:
          type: string
          description: "Specifies the background to be used in conjunction with certain cropping strategies when resizing an image. \n- A solid color: e.g., `red`, `F3F3F3`, `AAFF0010`. See [Solid color background](https://imagekit.io/docs/effects-and-enhancements#solid-color-background).\n- Dominant color: `dominant` extracts the dominant color from the image. See [Dominant color background](https://imagekit.io/docs/effects-and-enhancements#dominant-color-background).\n- Gradient: `gradient_dominant` or `gradient_dominant_2` creates a gradient using the dominant colors. Optionally specify palette size (2 or 4), e.g., `gradient_dominant_4`. See [Gradient background](https://imagekit.io/docs/effects-and-enhancements#gradient-background).\n- A blurred background: e.g., `blurred`, `blurred_25_N15`, etc. See [Blurred background](https://imagekit.io/docs/effects-and-enhancements#blurred-background).\n- Expand the image boundaries using generative fill: `genfill`. Not supported inside overlay. Optionally, control the background scene by passing a text prompt:\n  `genfill[:-prompt-${text}]` or `genfill[:-prompte-${urlencoded_base64_encoded_text}]`. See [Generative fill background](https://imagekit.io/docs/ai-transformations#generative-fill-bg-genfill).\n"
          example: red
        border:
          type: string
          description: "Adds a border to the output media. Accepts a string in the format `<border-width>_<hex-code>` \n(e.g., `5_FFF000` for a 5px yellow border), or an expression like `ih_div_20_FF00FF`.\nSee [Border](https://imagekit.io/docs/effects-and-enhancements#border---b).\n"
          example: 5_FF0000
        crop:
          type: string
          enum:
          - force
          - at_max
          - at_max_enlarge
          - at_least
          - maintain_ratio
          - maintain_ratio_no_enlarge
          description: Crop modes for image resizing. See [Crop modes & focus](https://imagekit.io/docs/image-resize-and-crop#crop-crop-modes--focus).
        cropMode:
          type: string
          enum:
          - pad_resize
          - extract
          - pad_extract
          - pad_resize_no_enlarge
          - pad_extract_no_shrink
          description: Additional crop modes for image resizing. See [Crop modes & focus](https://imagekit.io/docs/image-resize-and-crop#crop-crop-modes--focus).
        dpr:
          type: number
          minimum: 0.1
          maximum: 5
          description: 'Accepts values between 0.1 and 5, or `auto` for automatic device pixel ratio (DPR) calculation. Also accepts arithmetic expressions.

            - Learn about [Arithmetic expressions](https://imagekit.io/docs/arithmetic-expressions-in-transformations).

            - See [DPR](https://imagekit.io/docs/image-resize-and-crop#dpr---dpr).

            '
          example: 2
        focus:
          type: string
          description: "Refines padding and cropping behavior for pad resize, maintain ratio, and extract crop modes. \nSupports manual positions and coordinate-based focus. With AI-based cropping, you can automatically\nkeep key subjects in frame—such as faces or detected objects (e.g., `fo-face`, `fo-person`, `fo-car`)—\nwhile resizing.\n- See [Focus](https://imagekit.io/docs/image-resize-and-crop#focus---fo).\n- [Object aware cropping](https://imagekit.io/docs/image-resize-and-crop#object-aware-cropping---fo-object-name)\n"
          example: center
        quality:
          type: number
          minimum: 1
          maximum: 100
          description: "Specifies the quality of the output image for lossy formats such as JPEG, WebP, and AVIF. \nA higher quality value results in a larger file size with better quality, while a lower value produces a smaller file size with reduced quality.\nSee [Quality](https://imagekit.io/docs/image-optimization#quality---q).\n"
          example: 80
        x:
          oneOf:
          - type: number
          - type: string
          description: Focus using cropped image coordinates - X coordinate. See [Focus using cropped coordinates](https://imagekit.io/docs/image-resize-and-crop#example---focus-using-cropped-image-coordinates).
        xCenter:
          oneOf:
          - type: number
          - type: string
          description: Focus using cropped image coordinates - X center coordinate. See [Focus using cropped coordinates](https://imagekit.io/docs/image-resize-and-crop#example---focus-using-cropped-image-coordinates).
        y:
          oneOf:
          - type: number
          - type: string
          description: Focus using cropped image coordinates - Y coordinate. See [Focus using cropped coordinates](https://imagekit.io/docs/image-resize-and-crop#example---focus-using-cropped-image-coordinates).
        yCenter:
          oneOf:
          - type: number
          - type: string
          description: Focus using cropped image coordinates - Y center coordinate. See [Focus using cropped coordinates](https://imagekit.io/docs/image-resize-and-crop#example---focus-using-cropped-image-coordinates).
        format:
          type: string
          enum:
          - auto
          - webp
          - jpg
          - jpeg
          - png
          - gif
          - svg
          - mp4
          - webm
          - avif
          - orig
          description: "Specifies the output format for images or videos, e.g., `jpg`, `png`, `webp`, `mp4`, or `auto`. \nYou can also pass `orig` for images to return the original format.\nImageKit automatically delivers images and videos in the optimal format based on device support unless overridden by the dashboard settings or the format parameter.\nSee [Image format](https://imagekit.io/docs/image-optimization#format---f) and [Video format](https://imagekit.io/docs/video-optimization#format---f).\n"
        videoCodec:
          type: string
          enum:
          - h264
          - vp9
          - av1
          - none
          description: Specifies the video codec, e.g., `h264`, `vp9`, `av1`, or `none`. See [Video codec](https://imagekit.io/docs/video-optimization#video-codec---vc).
        audioCodec:
          type: string
          enum:
          - aac
          - opus
          - none
          description: Specifies the audio codec, e.g., `aac`, `opus`, or `none`. See [Audio codec](https://imagekit.io/docs/video-optimization#audio-codec---ac).
        radius:
          anyOf:
          - type: number
          - enum:
            - max
          - type: string
          description: 'Specifies the corner radius for rounded corners.

            - Single value (positive integer): Applied to all corners (e.g., `20`).

            - `max`: Creates a circular or oval shape.

            - Per-corner array: Provide four underscore-separated values representing top-left, top-right, bottom-right, and bottom-left corners respectively (e.g., `10_20_30_40`).

            See [Radius](https://imagekit.io/docs/effects-and-enhancements#radius---r).

            '
          example: 20
        rotation:
          oneOf:
          - type: number
          - type: string
          description: "Specifies the rotation angle in degrees. Positive values rotate the image clockwise; you can also use, for example, `N40` for counterclockwise rotation \nor `auto` to use the orientation specified in the image's EXIF data.\nFor videos, only the following values are supported: 0, 90, 180, 270, or 360.\nSee [Rotate](https://imagekit.io/docs/effects-and-enhancements#rotate---rt).\n"
          example: 90
        blur:
          type: number
          minimum: 1
          maximum: 100
          description: 'Specifies the Gaussian blur level. Accepts an integer value between 1 and 100, or an expression like `bl-10`.

            See [Blur](https://imagekit.io/docs/effects-and-enhancements#blur---bl).

            '
          example: 10
        named:
          type: string
          description: Named transformation reference. See [Named transformations](https://imagekit.io/docs/transformations#named-transformations).
        defaultImage:
          type: string
          description: 'Specifies a fallback image if the resource is not found, e.g., a URL or file path.

            See [Default image](https://imagekit.io/docs/image-transformation#default-image---di).

            '
        flip:
          type: string
          enum:
          - h
          - v
          - h_v
          - v_h
          description: "Flips or mirrors an image either horizontally, vertically, or both. \nAcceptable values: `h` (horizontal), `v` (vertical), `h_v` (horizontal and vertical), or `v_h`.\nSee [Flip](https://imagekit.io/docs/effects-and-enhancements#flip---fl).\n"
        original:
          type: boolean
          description: 'If set to true, serves the original file without applying any transformations.

            See [Deliver original file as-is](https://imagekit.io/docs/core-delivery-features#deliver-original-file-as-is---orig-true).

            '
        startOffset:
          oneOf:
          - type: number
          - type: string
          description: "Specifies the start offset (in seconds) for trimming videos, e.g., `5` or `10.5`. \nArithmetic expressions are also supported.\nSee [Trim videos – Start offset](https://imagekit.io/docs/trim-videos#start-offset---so).\n"
        endOffset:
          oneOf:
          - type: number
          - type: string
          description: "Specifies the end offset (in seconds) for trimming videos, e.g., `5` or `10.5`. \nTypically used with startOffset to define a time window. Arithmetic expressions are supported.\nSee [Trim videos – End offset](https://imagekit.io/docs/trim-videos#end-offset---eo).\n"
        duration:
          oneOf:
          - type: number
          - type: string
          description: "Specifies the duration (in seconds) for trimming videos, e.g., `5` or `10.5`. \nTypically used with startOffset to indicate the length from the start offset. Arithmetic expressions are supported.\nSee [Trim videos – Duration](https://imagekit.io/docs/trim-videos#duration---du).\n"
        streamingResolutions:
          type: array
          items:
            $ref: '#/components/schemas/StreamingResolution'
          description: 'An array of resolutions for adaptive bitrate streaming, e.g., [`240`, `360`, `480`, `720`, `1080`].

            See [Adaptive Bitrate Streaming](https://imagekit.io/docs/adaptive-bitrate-streaming).

            '
        grayscale:
          description: Enables a grayscale effect for images. See [Grayscale](https://imagekit.io/docs/effects-and-enhancements#grayscale---e-grayscale).
          enum:
          - true
        aiUpscale:
          description: 'Upscales images beyond their original dimensions using AI. Not supported inside overlay.

            See [AI Upscale](https://imagekit.io/docs/ai-transformations#upscale-e-upscale).

            '
          enum:
          - true
        aiRetouch:
          description: 'Performs AI-based retouching to improve faces or product shots. Not supported inside overlay.

            See [AI Retouch](https://imagekit.io/docs/ai-transformations#retouch-e-retouch).

            '
          enum:
          - true
        aiVariation:
          description: "Generates a variation of an image using AI. This produces a new image with slight variations from the original, \nsuch as changes in color, texture, and other visual elements, while preserving the structure and essence of the original image. Not supported inside overlay.\nSee [AI Generate Variations](https://imagekit.io/docs/ai-transformations#generate-variations-of-an-image-e-genvar).\n"
          enum:
          - true
        aiDropShadow:
          oneOf:
          - enum:
            - true
          - type: string
          description: "Adds an AI-based drop shadow around a foreground object on a transparent or removed background. \nOptionally, control the direction, elevation, and saturation of the light source (e.g., `az-45` to change light direction).\nPass `true` for the default drop shadow, or provide a string for a custom drop shadow.\nSupported inside overlay.\nSee [AI Drop Shadow](https://imagekit.io/docs/ai-transformations#ai-drop-shadow-e-dropshadow).\n"
        aiChangeBackground:
          type: string
          description: "Uses AI to change the background. Provide a text prompt or a base64-encoded prompt, \ne.g., `prompt-snow road` or `prompte-[urlencoded_base64_encoded_text]`.\nNot supported inside overlay.\nSee [AI Change Background](https://imagekit.io/docs/ai-transformations#change-background-e-changebg).\n"
        aiRemoveBackground:
          description: "Applies ImageKit's in-house background removal. \nSupported inside overlay.\nSee [AI Background Removal](https://imagekit.io/docs/ai-transformations#imagekit-background-removal-e-bgremove).\n"
          enum:
          - true
        aiRemoveBackgroundExternal:
          description: "Uses third-party background removal. \nNote: It is recommended to use aiRemoveBackground, ImageKit's in-house solution, which is more cost-effective.\nSupported inside overlay.\nSee [External Background Removal](https://imagekit.io/docs/ai-transformations#background-removal-e-removedotbg).\n"
          enum:
          - true
        aiEdit:
          type: string
          description: "Uses AI to edit images based on a text prompt. Provide a text prompt or a base64-encoded prompt, \ne.g., `prompt-snow road` or `prompte-[urlencoded_base64_encoded_text]`.\nNot supported inside overlay.    \nSee [AI Edit](https://imagekit.io/docs/ai-transformations#edit-image-e-edit).\n"
        contrastStretch:
          description: 'Automatically enhances the contrast of an image (contrast stretch).

            See [Contrast Stretch](https://imagekit.io/docs/effects-and-enhancements#contrast-stretch---e-contrast).

            '
          enum:
          - true
        shadow:
          oneOf:
          - enum:
            - true
          - type: string
          description: "Adds a shadow beneath solid objects in an image with a transparent background. \nFor AI-based drop shadows, refer to aiDropShadow.\nPass `true` for a default shadow, or provide a string for a custom shadow.\nSee [Shadow](https://imagekit.io/docs/effects-and-enhancements#shadow---e-shadow).\n"
        sharpen:
          oneOf:
          - enum:
            - true
          - type: number
          description: "Sharpens the input image, highlighting edges and finer details. \nPass `true` for default sharpening, or provide a numeric value for custom sharpening.\nSee [Sharpen](https://imagekit.io/docs/effects-and-enhancements#sharpen---e-sharpen).\n"
        unsharpMask:
          oneOf:
          - enum:
            - true
          - type: string
          description: "Applies Unsharp Masking (USM), an image sharpening technique. \nPass `true` for a default unsharp mask, or provide a string for a custom unsharp mask.\nSee [Unsharp Mask](https://imagekit.io/docs/effects-and-enhancements#unsharp-mask---e-usm).\n"
        gradient:
          oneOf:
          - enum:
            - true
          - type: string
          description: 'Creates a linear gradient with two colors. Pass `true` for a default gradient, or provide a string for a custom gradient.

            See [Gradient](https://imagekit.io/docs/effects-and-enhancements#gradient---e-gradient).

            '
        progressive:
          type: boolean
          description: "Specifies whether the output JPEG image should be rendered progressively. Progressive loading begins with a low-quality, \npixelated version of the full image, which gradually improves to provide a faster perceived load time.\nSee [Progressive images](https://imagekit.io/docs/image-optimization#progressive-image---pr).\n"
        lossless:
          type: boolean
          description: 'Specifies whether the output image (in JPEG or PNG) should be compressed losslessly.

            See [Lossless compression](https://imagekit.io/docs/image-optimization#lossless-webp-and-png---lo).

            '
        colorProfile:
          type: boolean
          description: 'Indicates whether the output image should retain the original color profile.

            See [Color profile](https://imagekit.io/docs/image-optimization#color-profile---cp).

            '
        metadata:
          type: boolean
          description: "By default, ImageKit removes all metadata during automatic image compression. \nSet this to true to preserve metadata.\nSee [Image metadata](https://imagekit.io/docs/image-optimization#image-metadata---md).\n"
        opacity:
          type: number
          minimum: 0
          maximum: 100
          description: Specifies the opacity level of the output image. See [Opacity](https://imagekit.io/docs/effects-and-enhancements#opacity---o).
        trim:
          oneOf:
          - enum:
            - true
          - type: number
          description: "Useful for images with a solid or nearly solid background and a central object. This parameter trims the background, \nleaving only the central object in the output image.\nSee [Trim edges](https://imagekit.io/docs/effects-and-enhancements#trim-edges---t).\n"
        zoom:
          type: number
          description: "Accepts a numeric value that determines how much to zoom in or out of the cropped area. \nIt should be used in conjunction with fo-face or fo-<object_name>.\nSee [Zoom](https://imagekit.io/docs/image-resize-and-crop#zoom---z).\n"
        page:
          oneOf:
          - type: number
          - type: string
          description: "Extracts a specific page or frame from multi-page or layered files (PDF, PSD, AI). \nFor example, specify by number (e.g., `2`), a range (e.g., `3-4` for the 2nd and 3rd layers),\nor by name (e.g., `name-layer-4` for a PSD layer).\nSee [Thumbnail extraction](https://imagekit.io/docs/vector-and-animated-images#get-thumbnail-from-psd-pdf-ai-eps-and-animated-files).\n"
        colorReplace:
          type: string
          description: 'Replaces colors in the image. Supports three formats:

            - `toColor` - Replace dominant color with the specified color.

            - `toColor_tolerance` - Replace dominant color with specified tolerance (0-100).

            - `toColor_tolerance_fromColor` - Replace a specific color with another within tolerance range.

            Colors can be hex codes (e.g., `FF0022`) or names (e.g., `red`, `blue`).

            See [Color replacement](https://imagekit.io/docs/effects-and-enhancements#color-replace---cr).

            '
        colorize:
          type: string
          description: 'Applies a color tint to the image. Accepts color and intensity as optional parameters.

            - `co-color` - Color to apply (e.g., `red`, `blue`, `FF0022`). Default is gray color.

            - `in-intensity` - Intensity of the color (0-100). Default is 35.

            See [Colorize](https://imagekit.io/docs/effects-and-enhancements#colorize---e-colorize).

            '
        distort:
          type: string
          description: 'Distorts the shape of an image. Supports two modes:

            - Perspective distortion: `p-x1_y1_x2_y2_x3_y3_x4_y4` changes the position of the four corners starting clockwise from top-left.

            - Arc distortion: `a-degrees` curves the image upwards (positive values) or downwards (negative values).

            See [Distort effect](https://imagekit.io/docs/effects-and-enhancements#distort---e-distort).

            '
        raw:
          type: string
          description: "Pass any transformation not directly supported by the SDK. \nThis transformation string is appended to the URL as provided.\n"
        overlay:
          $ref: '#/components/schemas/Overlay'
      additionalProperties: false
    TextOverlayTransformation:
      type: object
      properties:
        width:
          oneOf:
          - type: number
          - type: string
          description: 'Specifies the maximum width (in pixels) of the overlaid text. The text wraps automatically, and arithmetic expressions (e.g., `bw_mul_0.2` or `bh_div_2`) are supported. Useful when used in conjunction with the `background`.

            Learn about [Arithmetic expressions](https://imagekit.io/docs/arithmetic-expressions-in-transformations).

            '
        fontSize:
          oneOf:
          - type: number
          - type: string
          description: Specifies the font size of the overlaid text. Accepts a numeric value or an arithmetic expression.
        fontFamily:
          type: string
          description: 'Specifies the font family of the overlaid text. Choose from the supported fonts list or use a custom font.

            See [Supported fonts](https://imagekit.io/docs/add-overlays-on-images#supported-text-font-list) and [Custom font](https://imagekit.io/docs/add-overlays-on-images#change-font-family-in-text-overlay).

            '
        fontColor:
          type: string
          description: 'Specifies the font color of the overlaid text. Accepts an RGB hex code (e.g., `FF0000`), an RGBA code (e.g., `FFAABB50`), or a color name.

            '
        innerAlignment:
          type: string
          enum:
          - left
          - right
          - center
          default: center
          description: 'Specifies the inner alignment of the text when width is more than the text length.

            '
        padding:
          oneOf:
          - type: number
          - type: string
          description: 'Specifies the padding around the overlaid text.

            Can be provided as a single positive integer or multiple values separated by underscores (following CSS shorthand order).

            Arithmetic expressions are also accepted.

            '
        alpha:
          type: number
          minimum: 1
          maximum: 9
          description: Specifies the transparency level of the text overlay. Accepts integers from `1` to `9`.
        typography:
          type: string
          description: "Specifies the typography style of the text.\nSupported values: \n  - Single styles: `b` (bold), `i` (italic), `strikethrough`.\n  - Combinations: Any combination separated by underscores, e.g., `b_i`, `b_i_strikethrough`.\n"
        background:
          type: string
          description: 'Specifies the background color of the text overlay.

            Accepts an RGB hex code, an RGBA code, or a color name.

            '
        radius:
          anyOf:
          - type: number
          - enum:
            - max
          - type: string
          description: 'Specifies the corner radius:

            - Single value (positive integer): Applied to all corners (e.g., `20`).

            - `max`: Creates a circular or oval shape.

            - Per-corner array: Provide four underscore-separated values representing top-left, top-right, bottom-right, and bottom-left corners respectively (e.g., `10_20_30_40`).

            See [Radius](https://imagekit.io/docs/effects-and-enhancements#radius---r).

            '
        rotation:
          oneOf:
          - type: number
          - type: string
          description: 'Specifies the rotation angle of the text overlay.

            Accepts a numeric value for clockwise rotation or a string prefixed with "N" for counter-clockwise rotation.

            '
        flip:
          type: string
          enum:
          - h
          - v
          - h_v
          - v_h
          description: 'Flip/mirror the text horizontally, vertically, or in both directions.

            Acceptable values: `h` (horizontal), `v` (vertical), `h_v` (horizontal and vertical), or `v_h`.

            '
        lineHeight:
          oneOf:
          - type: number
          - type: string
          description: 'Specifies the line height for multi-line text overlays. It will come into effect only if the text wraps over multiple lines.

            Accepts either an integer value or an arithmetic expression.

            '
      additionalProperties: false
    AITaskAction:
      title: AI Task Action
      type: object
      description: Defines actions to perform based on AI task results.
      properties:
        add_tags:
          type: array
          description: Array of tag strings to add to the asset.
          items:
            type: string
          example:
          - luxury
          - premium
        remove_tags:
          type: array
          description: Array of tag strings to remove from the asset.
          items:
            type: string
          example:
          - budget
          - affordable
        set_metadata:
          type: array
          description: Array of custom metadata field updates.
          items:
            type: object
            required:
            - field
            - value
            properties:
              field:
                type: string
                description: Name of the custom metadata field to set.
              value:
                description: Value to set for the custom metadata field. The value type should match the custom metadata field type.
                oneOf:
                - type: string
                - type: number
                - type: boolean
                - type: array
                  x-stainless-variantName: Mixed
                  title: Mixed
                  items:
                    title: Metadata value item
                    oneOf:
                    - type: string
                    - type: number
                    - type: boolean
          example:
          - field: price_range
            value: premium
        unset_metadata:
          type: array
          description: Array of custom metadata fields to remove.
          items:
            type: object
            required:
            - field
            properties:
              field:
                type: string
                description: Name of the custom metadata field to remove.
          example:
          - field: price_range
    VideoOverlay:
      allOf:
      - $ref: '#/components/schemas/BaseOverlay'
      - type: object
        required:
        - type
        - input
        properties:
          type:
            type: string
            enum:
            - video
          input:
            type: string
            description: Specifies the relative path to the video used as an overlay.
          encoding:
            type: string
            enum:
            - auto
            - plain
            - base64
            default: auto
            description: "The input path can be included in the layer as either `i-{input}` or `ie-{base64_encoded_input}`. \nBy default, the SDK determines the appropriate format automatically. \nTo always use base64 encoding (`ie-{base64}`), set this parameter to `base64`. \nTo always use plain text (`i-{input}`), set it to `plain`.\n\nRegardless of the encoding method:\n- Leading and trailing slashes are removed.\n- Remaining slashes within the path are replaced with `@@` when using plain text.\n"
          transformation:
            type: array
            items:
              $ref: '#/components/schemas/Transformation'
            description: 'Array of transformation to be applied to the overlay video. Except `streamingResolutions`, all other video transformations are supported.

              See [Video transformations](https://imagekit.io/docs/video-transformation).

              '
        additionalProperties: false
    ResponsiveImageAttributes:
      title: Responsive Image Attributes
      description: 'Resulting set of attributes suitable for an HTML `<img>` element.

        Useful for enabling responsive image loading with `srcSet` and `sizes`.

        '
      type: object
      required:
      - src
      properties:
        src:
          type: string
          format: uri
          description: URL for the *largest* candidate (assigned to plain `src`).
          example: https://ik.imagekit.io/demo/image.jpg?tr=w-3840
        srcSet:
          type: string
          description: "Candidate set with `w` or `x` descriptors. \nMultiple image URLs separated by commas, each with a descriptor.\n"
          example: https://ik.imagekit.io/demo/image.jpg?tr=w-640 640w, https://ik.imagekit.io/demo/image.jpg?tr=w-1080 1080w, https://ik.imagekit.io/demo/image.jpg?tr=w-1920 1920w
        sizes:
          type: string
          description: "`sizes` returned (or synthesised as `100vw`). \nThe value for the HTML `sizes` attribute.\n"
          example: 100vw
        width:
          type: number
          description: Width as a number (if `width` was provided in the input options).
          example: 400
    Extensions:
      title: Extensions Array
      type: array
      items:
        discriminator:
          propertyName: name
        anyOf:
        - $ref: '#/components/schemas/RemovedotBGExtension'
        - $ref: '#/components/schemas/AutoTaggingExtension'
        - $ref: '#/components/schemas/AutoDescriptionExtension'
        - $ref: '#/components/schemas/AITasksExtension'
        - $ref: '#/components/schemas/SavedExtensionReference'
      description: 'Array of extensions to be applied to the asset. Each extension can be configured with specific parameters based on the extension type.

        '
      example:
      - name: remove-bg
        options:
          add_shadow: true
          bg_colour: green
      - name: google-auto-tagging
        maxTags: 5
        minConfidence: 95
      - name: ai-auto-description
      - name: ai-tasks
        tasks:
        - type: select_tags
          instruction: What types of clothing items are visible in this image?
          vocabulary:
          - shirt
          - tshirt
          - dress
          - trousers
          - jacket
        - type: yes_no
          instruction: Is this a luxury or high-end fashion item?
          on_yes:
            add_tags:
            - luxury
            - premium
      - name: saved-extension
        id: ext_abc123
    ExtensionConfig:
      title: Extension Configuration
      description: Configuration object for an extension (base extensions only, not saved extension references).
      type: object
      discriminator:
        propertyName: name
      oneOf:
      - $ref: '#/components/schemas/RemovedotBGExtension'
      - $ref: '#/components/schemas/AutoTaggingExtension'
      - $ref: '#/components/schemas/AutoDescriptionExtension'
      - $ref: '#/components/schemas/AITasksExtension'
    OverlayPosition:
      type: object
      properties:
        x:
          oneOf:
          - type: number
          - type: string
          description: 'Specifies the x-coordinate of the top-left corner of the base asset where the overlay''s top-left corner will be positioned.

            It also accepts arithmetic expressions such as `bw_mul_0.4` or `bw_sub_cw`.

            Maps to `lx` in the URL.

            Learn about [Arithmetic expressions](https://imagekit.io/docs/arithmetic-expressions-in-transformations).

            '
        y:
          oneOf:
          - type: number
          - type: string
          description: 'Specifies the y-coordinate of the top-left corner of the base asset where the overlay''s top-left corner will be positioned.

            It also accepts arithmetic expressions such as `bh_mul_0.4` or `bh_sub_ch`.

            Maps to `ly` in the URL.

            Learn about [Arithmetic expressions](https://imagekit.io/docs/arithmetic-expressions-in-transformations).

            '
        xCenter:
          oneOf:
          - type: number
          - type: string
          description: 'Specifies the x-coordinate on the base asset where the overlay''s center will be positioned.

            It also accepts arithmetic expressions such as `bw_mul_0.4` or `bw_sub_cw`.

            Maps to `lxc` in the URL.

            Cannot be used together with `x`, but can be used with `y`.

            Learn about [Arithmetic expressions](https://imagekit.io/docs/arithmetic-expressions-in-transformations).

            '
        yCenter:
          oneOf:
          - type: number
          - type: string
          description: 'Specifies the y-coordinate on the base asset where the overlay''s center will be positioned.

            It also accepts arithmetic expressions such as `bh_mul_0.4` or `bh_sub_ch`.

            Maps to `lyc` in the URL.

            Cannot be used together with `y`, but can be used with `x`.

            Learn about [Arithmetic expressions](https://imagekit.io/docs/arithmetic-expressions-in-transformations).

            '
        anchorPoint:
          type: string
          enum:
          - top
          - left
          - right
          - bottom
          - top_left
          - top_right
          - bottom_left
          - bottom_right
          - center
          description: 'Sets the anchor point on the base asset from which the overlay offset is calculated.

            The default value is `top_left`.

            Maps to `lap` in the URL.

            Can only be used with one or more of `x`, `y`, `xCenter`, or `yCenter`.

            '
        focus:
          type: string
          enum:
          - center
          - top
          - left
          - bottom
          - right
          - top_left
          - top_right
          - bottom_left
          - bottom_right
          description: 'Specifies the position of the overlay relative to the parent image or video.

            If one or more of `x`, `y`, `xCenter`, or `yCenter` parameters are specified, this parameter is ignored.

            Maps to `lfo` in the URL.

            '
      additionalProperties: false
    OverlayTiming:
      type: object
      properties:
        start:
          oneOf:
          - type: number
          - type: string
          description: 'Specifies the start time (in seconds) for when the overlay should appear on the base video.

            Accepts a positive number up to two decimal places (e.g., `20` or `20.50`) and arithmetic expressions such as `bdu_mul_0.4` or `bdu_sub_idu`.

            Applies only if the base asset is a video.

            Maps to `lso` in the URL.

            '
        duration:
          oneOf:
          - type: number
          - type: string
          description: 'Specifies the duration (in seconds) during which the overlay should appear on the base video.

            Accepts a positive number up to two decimal places (e.g., `20` or `20.50`) and arithmetic expressions such as `bdu_mul_0.4` or `bdu_sub_idu`.

            Applies only if the base asset is a video.

            Maps to `ldu` in the URL.

            '
        end:
          oneOf:
          - type: number
          - type: string
          description: 'Specifies the end time (in seconds) for when the overlay should disappear from the base video.

            If both end and duration are provided, duration is ignored.

            Accepts a positive number up to two decimal places (e.g., `20` or `20.50`) and arithmetic expressions such as `bdu_mul_0.4` or `bdu_sub_idu`.

            Applies only if the base asset is a video.

            Maps to `leo` in the URL.

            '
      additionalProperties: false
    Overlay:
      title: Overlay
      description: "Specifies an overlay to be applied on the parent image or video. \nImageKit supports overlays including images, text, videos, subtitles, and solid colors.\nSee [Overlay using layers](https://imagekit.io/docs/transformations#overlay-using-layers).\n"
      discriminator:
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/TextOverlay'
      - $ref: '#/components/schemas/ImageOverlay'
      - $ref: '#/components/schemas/VideoOverlay'
      - $ref: '#/components/schemas/SubtitleOverlay'
      - $ref: '#/components/schemas/SolidColorOverlay'
    StreamingResolution:
      type: string
      enum:
      - '240'
      - '360'
      - '480'
      - '720'
      - '1080'
      - '1440'
      - '2160'
      description: Available streaming resolutions for [adaptive bitrate streaming](https://imagekit.io/docs/adaptive-bitrate-streaming)
    GetImageAttributesOptions:
      title: Get Image Attributes Options
      description: "Options for generating responsive image attributes including `src`, `srcSet`, and `sizes` for HTML `<img>` elements. \nThis schema extends `SrcOptions` to add support for responsive image generation with breakpoints.\n"
      type: object
      allOf:
      - $ref: '#/components/schemas/SrcOptions'
      - type: object
        properties:
          width:
            type: number
            description: "The intended display width of the image in pixels, \nused **only when the `sizes` attribute is not provided**.\n\nTriggers a DPR-based strategy (1x and 2x variants) and generates `x` descriptors in `srcSet`.\n\nIgnored if `sizes` is present.\n"
            example: 400
          sizes:
            type: string
            description: "The value for the HTML `sizes` attribute \n(e.g., `\"100vw\"` or `\"(min-width:768px) 50vw, 100vw\"`).\n\n- If it includes one or more `vw` units, breakpoints smaller than the corresponding percentage of the smallest device width are excluded.\n- If it contains no `vw` units, the full breakpoint list is used.\n\nEnables a width-based strategy and generates `w` descriptors in `srcSet`.\n"
            example: '(min-width: 768px) 50vw, 100vw'
          deviceBreakpoints:
            type: array
            items:
              type: number
            description: 'Custom list of **device-width breakpoints** in pixels.

              These define common screen widths for responsive image generation.


              Defaults to `[640, 750, 828, 1080, 1200, 1920, 2048, 3840]`.

              Sorted automatically.

              '
            example:
            - 640
            - 750
            - 828
            - 1080
            - 1200
            - 1920
            - 2048
            - 3840
          imageBreakpoints:
            type: array
            items:
              type: number
            description: 'Custom list of **image-specific breakpoints** in pixels.

              Useful for generating small variants (e.g., placeholders or thumbnails).


              Merged with `deviceBreakpoints` before calculating `srcSet`.

              Defaults to `[16, 32, 48, 64, 96, 128, 256, 384]`.

              Sorted automatically.

              '
            example:
            - 16
            - 32
            - 48
            - 64
            - 96
            - 128
            - 256
            - 384
    TextOverlay:
      allOf:
      - $ref: '#/components/schemas/BaseOverlay'
      - type: object
        required:
        - type
        - text
        properties:
          type:
            type: string
            enum:
            - text
          text:
            type: string
            description: Specifies the text to be displayed in the overlay. The SDK automatically handles special characters and encoding.
          encoding:
            type: string
            enum:
            - auto
            - plain
            - base64
            default: auto
            description: "Text can be included in the layer as either `i-{input}` (plain text) or `ie-{base64_encoded_input}` (base64). \nBy default, the SDK selects the appropriate format based on the input text. \nTo always use base64 (`ie-{base64}`), set this parameter to `base64`. \nTo always use plain text (`i-{input}`), set it to `plain`.\n\nRegardless of the encoding method, the input text is always percent-encoded to ensure it is URL-safe.\n"
          transformation:
            type: array
            items:
              $ref: '#/components/schemas/TextOverlayTransformation'
            description: Control styling of the text overlay. See [Text overlays](https://imagekit.io/docs/add-overlays-on-images#text-overlay).
        additionalProperties: false
    SubtitleOverlay:
      allOf:
      - $ref: '#/components/schemas/BaseOverlay'
      - type: object
        required:
        - type
        - input
        properties:
          type:
            type: string
            enum:
            - subtitle
          input:
            type: string
            description: Specifies the relative path to the subtitle file used as an overlay.
          encoding:
            type: string
            enum:
            - auto
            - plain
            - base64
            default: auto
            description: "The input path can be included in the layer as either `i-{input}` or `ie-{base64_encoded_input}`. \nBy default, the SDK determines the appropriate format automatically. \nTo always use base64 encoding (`ie-{base64}`), set this parameter to `base64`. \nTo always use plain text (`i-{input}`), set it to `plain`.\n\nRegardless of the encoding method:\n- Leading and trailing slashes are removed.\n- Remaining slashes within the path are replaced with `@@` when using plain text.\n"
          transformation:
            type: array
            items:
              $ref: '#/components/schemas/SubtitleOverlayTransformation'
            description: Control styling of the subtitle. See [Styling subtitles](https://imagekit.io/docs/add-overlays-on-videos#styling-controls-for-subtitles-layer).
        additionalProperties: false
    AITasksExtension:
      title: AI Tasks
      type: object
      required:
      - name
      - tasks
      properties:
        name:
          type: string
          description: Specifies the AI tasks extension for automated image analysis using AI models.
          enum:
          - ai-tasks
        tasks:
          type: array
          minItems: 1
          maxItems: 10
          description: Array of task objects defining AI operations to perform on the asset.
          items:
            discriminator:
              propertyName: type
            oneOf:
            - $ref: '#/components/schemas/AITaskSelectTags'
            - $ref: '#/components/schemas/AITaskSelectMetadata'
            - $ref: '#/components/schemas/AITaskYesNo'
    AutoDescriptionExtension:
      title: Auto description
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Specifies the auto description extension.
          enum:
          - ai-auto-description
    AITaskSelectTags:
      title: AI Task - Select Tags
      type: object
      required:
      - type
      - instruction
      properties:
        type:
          type: string
          description: Task type that analyzes the image and adds matching tags from a vocabulary.
          enum:
          - select_tags
        instruction:
          type: string
          minLength: 1
          maxLength: 2000
          description: The question or instruction for the AI to analyze the image.
          example: What types of clothing items are visible in this image?
        vocabulary:
          type: array
          minItems: 1
          maxItems: 30
          description: Array of possible tag values. The combined length of all strings must not exceed 500 characters, and values cannot include the `%` character. When providing large vocabularies (more than 30 items), the AI may not follow the list strictly.
          items:
            type: string
          example:
          - shirt
          - tshirt
          - dress
          - trousers
          - jacket
        min_selections:
          type: integer
          minimum: 0
          description: Minimum number of tags to select from the vocabulary.
        max_selections:
          type: integer
          minimum: 1
          description: Maximum number of tags to select from the vocabulary.
    ImageOverlay:
      allOf:
      - $ref: '#/components/schemas/BaseOverlay'
      - type: object
        required:
        - type
        - input
        properties:
          type:
            type: string
            enum:
            - image
          input:
            type: string
            description: Specifies the relative path to the image used as an overlay.
          encoding:
            type: string
            enum:
            - auto
            - plain
            - base64
            default: auto
            description: "The input path can be included in the layer as either `i-{input}` or `ie-{base64_encoded_input}`. \nBy default, the SDK determines the appropriate format automatically. \nTo always use base64 encoding (`ie-{base64}`), set this parameter to `base64`. \nTo always use plain text (`i-{input}`), set it to `plain`.\n\nRegardless of the encoding method:\n- Leading and trailing slashes are removed.\n- Remaining slashes within the path are replaced with `@@` when using plain text.\n"
          transformation:
            type: array
            items:
              $ref: '#/components/schemas/Transformation'
            description: 'Array of transformations to be applied to the overlay image. Supported transformations depends on the base/parent asset.

              See overlays on [Images](https://imagekit.io/docs/add-overlays-on-images#list-of-supported-image-transformations-in-image-layers) and [Videos](https://imagekit.io/docs/add-overlays-on-videos#list-of-transformations-supported-on-image-overlay).

              '
        additionalProperties: false
    AITaskSelectMetadata:
      title: AI Task - Select Metadata
      type: object
      required:
      - type
      - instruction
      - field
      properties:
        type:
          type: string
          description: Task type that analyzes the image and sets a custom metadata field value from a vocabulary.
          enum:
          - select_metadata
        instruction:
          type: string
          minLength: 1
          maxLength: 2000
          description: The question or instruction for the AI to analyze the image.
          example: What is the primary color of the clothing?
        field:
          type: string
          description: Name of the custom metadata field to set. The field must exist in your account.
          example: primary_color
        vocabulary:
          type: array
          minItems: 1
          maxItems: 30
          description: An array of possible values matching the custom metadata field type. If not provided for SingleSelect or MultiSelect field types, all values from the custom metadata field definition will be used. When providing large vocabularies (above 30 items), the AI may not strictly adhere to the list.
          items:
            oneOf:
            - type: string
            - type: number
            - type: boolean
          example:
          - red
          - blue
          - green
          - black
          - white
        min_selections:
          type: integer
          minimum: 0
          description: Minimum number of values to select from the vocabulary.
        max_selections:
          type: integer
          minimum: 1
          description: Maximum number of values to select from the vocabulary.
    BaseOverlay:
      type: object
      properties:
        position:
          $ref: '#/components/schemas/OverlayPosition'
          description: 'Specifies the overlay''s position relative to the parent asset.

            See [Position of Layer](https://imagekit.io/docs/transformations#position-of-layer).

            '
        timing:
          $ref: '#/components/schemas/OverlayTiming'
          description: 'Specifies timing information for the overlay (only applicable if the base asset is a video).

            See [Position of Layer](https://imagekit.io/docs/transformations#position-of-layer).

            '
        layerMode:
          type: string
          enum:
          - multiply
          - cutter
          - cutout
          - displace
          description: 'Controls how the layer blends with the base image or underlying content. Maps to `lm` in the URL.

            By default, layers completely cover the base image beneath them. Layer modes change this behavior:

            - `multiply`: Multiplies the pixel values of the layer with the base image. The result is always darker than the original images. This is ideal for applying shadows or color tints.

            - `displace`: Uses the layer as a displacement map to distort pixels in the base image. The red channel controls horizontal displacement, and the green channel controls vertical displacement. Requires `x` or `y` parameter to control displacement magnitude.

            - `cutout`: Acts as an inverse mask where opaque areas of the layer turn the base image transparent, while transparent areas leave the base image unchanged. This mode functions like a hole-punch, effectively cutting the shape of the layer out of the underlying image.

            - `cutter`: Acts as a shape mask where only the parts of the base image that fall inside the opaque area of the layer are preserved. This mode functions like a cookie-cutter, trimming the base image to match the specific dimensions and shape of the layer.

            See [Layer modes](https://imagekit.io/docs/add-overlays-on-images#layer-modes).

            '
      additionalProperties: false
    AutoTaggingExtension:
      title: Auto tagging
      type: object
      required:
      - name
      - minConfidence
      - maxTags
      properties:
        name:
          type: string
          enum:
          - google-auto-tagging
          - aws-auto-tagging
          description: Specifies the auto-tagging extension used.
        minConfidence:
          type: integer
          description: Minimum confidence level for tags to be considered valid.
        maxTags:
          type: integer
          description: Maximum number of tags to attach to the asset.
  responses:
    Forbidden:
      description: Forbidden.
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                examples:
                - Your account cannot be authenticated.
                - Your request contains expired private API key.
                - Your account is disabled.
              help:
                type: string
                example: For support kindly contact us at support@imagekit.io.
    Unauthorized:
      description: Unauthorized request.
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Your request does not contain private API key.
              help:
                type: string
                example: For support kindly contact us at support@imagekit.io.
  securitySchemes:
    basicAuth:
      description: 'Basic HTTP authentication. Allowed headers-- Authorization: Basic <private_api_key> | Authorization: Basic <base64 hash of `private_api_key:`>

        ImageKit API uses API keys to authenticate requests. You can view and manage your API keys in [the dashboard](https://imagekit.io/dashboard/developer/api-keys).

        All API requests must be made over HTTPS. Calls made over plain HTTP will fail. API requests without authentication will also fail.'
      scheme: basic
      type: http
